<pre>
	<?php
		// {$this} -> Here we got the reference on our block object.
		echo $this->getProductJson();
	?>
</pre>

<!-- Dont be afraid, I know that it should be at skin folder :) -->
<style>
	pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
</style>
